    <link rel="stylesheet" href="/static/css/create.css">

    <div class="dropdown-container">
        <select class="motherboard" id="motherboard" name="motherboard">
            <% if (!selected_motherboard) { %>
                <option value="" selected disabled hidden>Choose Motherboard</option>
            <% } else { %>
                <option value="<%= selected_motherboard %>" selected disabled hidden><%= selected_motherboard %></option>
            <% } %>
            <% for (let motherboard of motherboards) { %>
                <option class="option-input" data-tokens="<%= motherboard.motherboard %>" value="<%= motherboard.motherboard %>"><%= motherboard.motherboard %></option>
            <% } %>
        </select>

        <select class="cpu" name="cpu" <%= selected_motherboard ? undefined : "disabled" %>>
            <option value="" selected disabled hidden>Choose CPU</option>
            <% for (let cpu of cpus) { %>
                <option value="<%= cpu %>"><%= cpu %></option>
            <% } %>
        </select>

        <select class="gpu" name="gpu" <%= selected_motherboard ? undefined : "disabled" %>>
            <option value="" selected disabled hidden>Choose GPU</option>
            <% for (let gpu of gpus) { %>
                <option value="<%= gpu %>"><%= gpu %></option>
            <% } %>
        </select>

        <select class="ram" name="ram" <%= selected_motherboard ? undefined : "disabled" %>>
            <option value="" selected disabled hidden>Choose RAM</option>
            <% for (let ram of rams) { %>
                <option value="<%= ram %>"><%= ram %></option>
            <% } %>
        </select>

        <select class="storage" name="storage" <%= selected_motherboard ? undefined : "disabled" %>>
            <option value="" selected disabled hidden>Choose Storage</option>
            <% for (let storage of storages) { %>
                <option value="<%= storage %>"><%= storage %></option>
            <% } %>
        </select>

        <select class="psu" name="psu" <%= selected_motherboard ? undefined : "disabled" %>>
            <option value="" selected disabled hidden>Choose Power Supply</option>
            <% for (let psu of psus) { %>
                <option value="<%= psu %>"><%= psu %></option>
            <% } %>
        </select>
    </div>

    <script src="/static/js/create.js"></script>
